<!DOCTYPE html>

<!--
    TODO:
    * change site-title
    * add meta description content
    * change apple-mobile-web-app-title
    * adapt theme colors
    * create new images/icon-touch, eg. with https://realfavicongenerator.net/
-->

<html lang="de">

    <head>
        <meta charset="UTF-8">
        <title>Your title here!</title>
        <meta name="description" content="This wonderful site...">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="same-origin">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Disable tap highlight on IE -->
        <meta name="msapplication-tap-highlight" content="no">

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="Web Starter Kit">
        <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
        <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#2F3BA2">

        <!-- Color the status bar on mobile devices -->
        <meta name="theme-color" content="#2F3BA2">

        <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
        <!--
            <link rel="canonical" href="http://www.example.com/">
        -->
        <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    </head>

    <body>
        <img src='<%= require("./images/icon.png") %>' alt='sun icon'>
        <h1>Welcome!</h1>
        <h2>Images</h2>
        <h3>Inline images</h3>
        <p>Include images to your html-file:</p>
        <code>&lt;img src='<em>&lt;%= require("./images/icon.png") %></em>' alt='the sun'&gt;</code>
        <br>
        <p>Here is another example using the srcset-attribute:</p>
        <code>
            &lt;img sizes='100vw'<br>
            srcset='<br>
            <em>&lt;%= require("./images/the_moon_w_300.jpg")%></em> 300w<br>
            <em>&lt;%= require("./images/the_moon_w_845.jpg")%></em> 845w,<br>
            <em>&lt;%= require("./images/the_moon_w_1199.jpg")%></em> 1199w'<br>
            src='<em>&lt;%= require("./images/the_moon_w_1750.jpg") %></em>'<br>
            alt='the moon'&gt;
        </code>
        <h3>Background images</h3>
        <p class='bg-img'>Webpack will automatically detect background images in your CSS-code. No special syntax needed:</p>
        <code>background: url('../images/tick.png');</code>
        <br>
        <h2>Variables</h2>
        <p>The webpackhtml-plugin lets you interpolate variables into your HTML code. The syntax looks like this:</p>
        <code>My favourite number is <em>&lt;%= JSON.stringify(htmlWebpackPlugin.options.favouriteNumber) %&gt;</em>. </code>
        <p>Output:<br>My favourite number is <%= JSON.stringify(htmlWebpackPlugin.options.favouriteNumber) %>.</p>
        <br>
        <h2>Partials</h2>
        <p>Include partials:</p>
        <code><em>&lt;%= require(./partials/_footer.html') %&gt;</em></code>
        <p>(Depends on the `html-loader`.)</p>
        <%= require('./partials/_footer.html') %>

        <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    </body>

</html>
